<p class="card-text">
    <b>"Bulgarian Christmas"</b> is an annual event raising funds for children with health problems held under the patronage of
    the President of Bulgaria.
    <br>
    About 3500 children with congenital diseases are born in Bulgaria each year. The event seeks to help them by
    providing specialized medical care, medicine and rehabilitation, as well as the
    equipment needed by a number of hospitals.
    <br><br>
    This event unites media, public figures - signers, actors, intellectuals, athletes and public in one cause - helping
    Bulgarian children.
    <br>
    Donations are not only accepted at Christmas, but all year round, with final results of the charity campaign usually
    announced in January.
    <br>
    Those willing to help the cause could send text message to 1117, call 09001117 or donate here: <a href="url">https://www.bgkoleda.bg/</a>
    <br><br>
    Supported by donors and partners, the charity initiative "Bulgarian Christmas 2019/2020" raised donations amounting
    to BGN <b>2,460,000</b>.
    <br><br>
</p>