{% extends 'shared/base.html' %}
{% block content %}
    <div class="d-flex" style="border: 1px solid grey; margin: 5% 0%; padding: 5px">
        <div class="d-inline p-2 w-40">
            <img src="{{ product.image.url }}" class="w-50 rounded mx-auto d-block">
        </div>
        <div class="d-inline p-5 w-50">
            <div>
                <h4>{{ product.name }}</h4>
            </div>
            <p class="mt-2">{{ product.description }}</p>
            <div>
                <h5>Price: {{ product.price|floatformat:2 }} lv.</h5>
            </div>
            <div>
                {% if can_edit %}
                    <a href="{% url 'edit product' product.id %}" class="btn btn-success">Edit</a>
                {% endif %}
                {% if can_delete %}
                    <a href="{% url 'delete product' product.id %}" class="btn btn-danger">Delete</a>
                {% endif %}
            </div>
            <div>
                {% if can_buy %}
                    <a href="" class="btn btn-success" style="font-size:24px">Add to cart <i class="fa fa-shopping-cart"></i></a>
                {% endif %}
            </div>


        </div>
        <div>
            <smaLl>seller: <a href="">  {{ product.sold_by.username }} </a></smaLl>
        </div>
    </div>

{% endblock %}