{% extends 'shared/base.html' %}

{% block content %}
    <h1 class='text-center'>All Available products</h1>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for product in products %}
            <div class="col p-5">
                <div class="card h-100" style="width: 18rem;">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="..." width="250" height="300">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">Price: {{ product.price|floatformat:2 }} lv.</p>
                        <div>
                            <a href="{% url 'detailed product' product.id %}" class="btn btn-info">View</a>
                            <a href="{% url 'detailed product' product.id %}" class="btn btn-success">Add to cart <i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}